<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Groups</title>
</head>
<body>
<div class="container-fluid well well-sm">
    <ul>
    {% for group in groups %}
        <li>
            <a href="{{ url_for('group', guid=group.guid) }}">{{ group.name }}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="/newGroup">Create new Group!</a>
    <a href="/">See Trips</a>
</div>
</body>
</html>