<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Login</title>
    <style>
        fieldset {
            margin: 5px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    {% from "formhelpers.html" import render_field %}

    {% with messages = get_flashed_messages(category_filter=["message"]) %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message | safe }}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    <form class="well well-sm" action="{{ url_for('login') }}" method=post>
        {{ form.csrf_token }}

        <fieldset>
            <legend>Login</legend>
            <div>
                {% for message in get_flashed_messages(category_filter=["error"]) %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}

                <input type="submit"/>
            </div>

        </fieldset>

        <fieldset>
            <legend>New User</legend>

            <a href="{{ url_for('addUser')}}">Register as a new user.</a>
        </fieldset>
    </form>
</div>
</body>
</html>