<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 41.4993, lng: -81.6944};
        var MichU = new google.maps.LatLng(42.278067, -83.738278);
        var ChicU = new google.maps.LatLng(41.788920, -87.599700);
        var RPI = new google.maps.LatLng(42.728887, -73.680616);
        var start = new google.maps.LatLng(42.6987, -71.1351);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: uluru
        });
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });
        /*
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        */
        //North andover - {lat: 42.6987, lng: -71.1351}

        var locations = [
            MichU,
            ChicU,
            RPI

        ];

        var location_names = [
            "University of Michigan",
            "University of Chicago",
            "Rensselaer Polytechnic Institute"
        ];

        /*for (var idx = 0; idx < locations.length; idx++) {
            new google.maps.Marker({
                position: locations[idx],
                title: location_names[idx],
                map: map
            });
        }*/

        calculateAndDisplayRoute(directionsService, directionsDisplay, start, ChicU, 
          [{location: RPI, stopover: true}, 
           {location: MichU, stopover: true}]
          );
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB, waypoints) {
        directionsService.route({
          origin: pointA,
          destination: pointB,
          waypoints: waypoints,
          travelMode: google.maps.TravelMode.DRIVING 
        }, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=initMap">
    </script>
  </body>
  <a href="/newLocation">Add location!</a>
</html>