<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 550px;
        width: 950px;
       }
    </style>
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}"/>

    <style>
    #locations { list-style-type: none; margin: 0; padding: 0; width: 40%; }
    #locations li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #locations li span { position: absolute; margin-left: -1.3em; }
    #locations li a.delete { color: red; float: right; }

    .ui-icon-red {
      background-image: url({{ url_for('static', filename='images/ui-icons_cc0000_256x240.png') }});
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -.25em;
      text-indent: -99999px;
      overflow: hidden;
      background-repeat: no-repeat;
    } 
    </style>

  </head>
  <body>
    <h3>{{ trip.title }}</h3>
    <h5><a href="{{ url_for('index') }}">Back to Trips</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <div id="map"></div>
    <ul id="locations">
    {% for location in locations %}
        <li id="{{ location.guid }}" class="ui-state-default">
            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            {{ location.title }} <a class="delete" href="{{ url_for('deleteLocation', trip_guid=trip.guid, location_guid=location.guid) }}">
            <span class="ui-icon-red ui-icon-circle-close"></span></a>
        </li>
    {% endfor %}
    </ul>
    <script>

      var location_data = {{location_data | safe}};
      var map;
      var directionsService;
      var directionsDisplay;


      function computeRoute () {

        var location_arr = [];
        var name_arr = [];
        // var min_latitude = 90;
        // var max_latitude = -90;
        // var min_longitude = 180;
        // var max_longitude = -180;
        var latitude, longitude, name;
        if (location_data.length > 0) {
          for (var idx = 0; idx < location_data.length; idx++) {
              latitude = location_data[idx]["latitude"];
              longitude = location_data[idx]["longitude"];
              name = location_data[idx]["title"];
              location_arr.push(new google.maps.LatLng(latitude, longitude));
              name_arr.push(name);
          //     min_latitude = Math.min(min_latitude, latitude);
          //     min_longitude = Math.min(min_longitude, longitude);
          //     max_latitude = Math.max(max_latitude, latitude);
          //     max_longitude = Math.max(max_longitude, longitude);
          }

        }

        var waypoints = [];
        if (location_arr.length >= 2) {
            for (var idx=1; idx < location_arr.length-1; idx++) {
                waypoints.push({
                    location: location_arr[idx],
                    stopover: true
                });
            }
            calculateAndDisplayRoute(directionsService, directionsDisplay, location_arr[0], location_arr[location_arr.length-1], 
            waypoints
          );
        } else {
          if (location_arr.length == 1){
            new google.maps.Marker({
                position: location_arr[0],
                title: name_arr[0],
                map: map
            });
            map.setCenter(location_arr[0]);
          } else if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(centerMapOnLocation(map), locationError(map));
          } else {
            map.setCenter(new google.maps.LatLng(51.47672, 0));
          }
          
        }
      }

      function initMap() {
        
        

        // var average_latitude = (min_latitude + max_latitude) / 2;
        // var average_longitude = (min_longitude + max_longitude) / 2;
        //var middle = {lat: average_latitude, lng: average_longitude};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15
        });
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);

        computeRoute();

      }

      function centerMapOnLocation(map) {

        return function(position){
          map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
        }
      }

      function locationError(map) {
        return function(error){
          map.setCenter(new google.maps.LatLng(51.47672, 0));
        }
      }
      function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB, waypoints) {
        directionsService.route({
          origin: pointA,
          destination: pointB,
          waypoints: waypoints,
          travelMode: google.maps.TravelMode.DRIVING 
        }, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function reorderLocations(order, locations) {
        var newLocations = {};

        for (var idx=0; idx < order.length; idx++) {
          newLocations[order[idx]] = idx;
        }

        var result = Array(order.length);

        for (var idx=0; idx < order.length; idx++) {
          result[newLocations[locations[idx]['guid']]] = locations[idx];
        }

        return result;
      }

      $( function() {
        $( "#locations" ).sortable({
            axis: 'y',
            update: function (event, ui) {
                var result = [];
                $("#locations li").each(function(idx, value) { result.push(value.id); });

                location_data = reorderLocations(result, location_data)

                directionsDisplay.setMap(null);
                directionsDisplay.setMap(map);
                computeRoute();


                // POST to server using $.post or $.ajax
                $.post({
                    data: {"locations": result},
                    type: 'POST',
                    url: '{{ url_for('reorderLocations', trip_guid=trip.guid) }}'
                });

                
            }
        });
        $( "#locations" ).disableSelection();
      });

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=initMap">
    </script>
  </body>
  <a href="/newLocation/{{ trip.guid }}">Add location!</a>
  <a href="/deleteTrip/{{ trip.guid }}">Delete Trip</a>
</html>