<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>{{ trip.title }}</h3>
    <h5><a href="{{ url_for('index') }}">Back to Trips</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <div id="map"></div>
    <ul>
    {% for location in locations %}
        <li>
            {{ location.title }} <a href="{{ url_for('deleteLocation', trip_guid=trip.guid, location_guid=location.guid) }}">delete</a>
        </li>
    {% endfor %}
    </ul>
    <script>
      function initMap() {
        var location_data = {{location_data | safe}};

        var location_arr = [];
        var name_arr = [];
        // var min_latitude = 90;
        // var max_latitude = -90;
        // var min_longitude = 180;
        // var max_longitude = -180;
        var latitude, longitude, name;
        if (location_data.length > 0) {
          for (var idx = 0; idx < location_data.length; idx++) {
              latitude = location_data[idx]["latitude"];
              longitude = location_data[idx]["longitude"];
              name = location_data[idx]["title"];
              location_arr.push(new google.maps.LatLng(latitude, longitude));
              name_arr.push(name);
          //     min_latitude = Math.min(min_latitude, latitude);
          //     min_longitude = Math.min(min_longitude, longitude);
          //     max_latitude = Math.max(max_latitude, latitude);
          //     max_longitude = Math.max(max_longitude, longitude);
          }

        }

        // var average_latitude = (min_latitude + max_latitude) / 2;
        // var average_longitude = (min_longitude + max_longitude) / 2;

        //var middle = {lat: average_latitude, lng: average_longitude};
        var map = new google.maps.Map(document.getElementById('map'));
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });
        
        // var marker = new google.maps.Marker({
        //   position: uluru,
        //   map: map
        // });


        var waypoints = [];
        if (location_arr.length >= 2) {
            for (var idx=1; idx < location_arr.length-1; idx++) {
                waypoints.push({
                    location: location_arr[idx],
                    stopover: true
                });
            }
            calculateAndDisplayRoute(directionsService, directionsDisplay, location_arr[0], location_arr[location_arr.length-1], 
            waypoints
          );
        } else {
          for (var idx = 0; idx < location_data.length; idx++) {
            new google.maps.Marker({
                position: location_arr[idx],
                title: name_arr[idx],
                map: map
            });
          }
        }

        
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB, waypoints) {
        directionsService.route({
          origin: pointA,
          destination: pointB,
          waypoints: waypoints,
          travelMode: google.maps.TravelMode.DRIVING 
        }, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=initMap">
    </script>
  </body>
  <a href="/newLocation/{{ trip.guid }}">Add location!</a>
  <a href="/deleteTrip/{{ trip.guid }}">Delete Trip</a>
</html>