<!DOCTYPE html>
<html>
<head>
    <title>New Location</title>
</head>
<body>
    {% from "formhelpers.html" import render_field %}
    <form action="{{ url_for('addLocation', guid=form.trip_guid.data)}}" method=post>
        {{ form.csrf_token }}
        <fieldset>
            <legend>Location Form</legend>
            <div>

                {{ render_field(form.title) }}
                {{ render_field(form.latitude) }}
                {{ render_field(form.longitude) }}
                {{ render_field(form.arrivalDate) }}
                {{ render_field(form.departureDate) }}
                {{ render_field(form.website) }}
                {{ form.trip_guid }}


                <input type="submit"/>
            </div>

        </fieldset>
    </form>
</body>
</html>
