<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>New Location</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>
<body>
<div class="container-fluid well well-sm">
    {% from "formhelpers.html" import render_field %}
    <form action="{{ url_for('addLocation', guid=form.trip_guid.data)}}" method=post>
        {{ form.csrf_token }}
        <fieldset>
            <legend>Location Form</legend>

            <input id="autocomplete" placeholder="Enter an address"
            onFocus="geolocate()" type="text"></input>

            <div>
            


                {{ render_field(form.title) }}
                {{ render_field(form.latitude) }}
                {{ render_field(form.longitude) }}
                {{ render_field(form.arrivalDate) }}
                {{ render_field(form.departureDate) }}
                {{ render_field(form.website) }}
                {{ form.trip_guid }}


                <input type="submit"/>
            </div>

        </fieldset>
    </form>
</div>

    <script>
        var autocomplete;

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('autocomplete')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
        // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            document.getElementById('title').value = place.name;
            document.getElementById('latitude').value = place.geometry.location.lat();
            document.getElementById('longitude').value = place.geometry.location.lng();

            
        }

        function geolocate() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                  center: geolocation,
                  radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
              });
            }
        }
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_PLACE_API }}&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>
