<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>New User</title>
</head>
<body>
<div class="container-fluid well well-sm">
    {% from "formhelpers.html" import render_field %}
    <form action="/newUser" method=post>
        {{ form.csrf_token }}
        <fieldset>
            <legend>User Form</legend>
            <div>

                {{ render_field(form.firstname) }}
                {{ render_field(form.lastname) }}
                {{ render_field(form.username) }}
                {% for message in get_flashed_messages(category_filter=["username"]) %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
                {{ render_field(form.password) }}
                {{ render_field(form.confirmpwd) }}
                {{ render_field(form.email) }}
                
                {% for message in get_flashed_messages(category_filter=["email"]) %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
                {{ render_field(form.confirmemail) }}

                <input type="submit"/>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>