<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% from "formhelpers.html" import render_field %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    Thank you for joining.  Please login to verify your account.

    <form action="{{ url_for('verification', token=token) }}" method=post>
        {{ form.csrf_token }}

        <fieldset>
            <legend>New user verification</legend>
            <div>
                {% for message in get_flashed_messages() %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}

                <input type="submit"/>
            </div>

        </fieldset>
    </form>
</body>
</html>